@model CMS.Web.ViewModels.PlayersIndexViewModel
@*@{


        enum Role { Batting_All_Rounder,Bowling_All_Rounder }
        Role role = (Role)System.Enum.Parse(typeof(Role), "Batting All-Rounder");

    }*@










@*<div class="row">
        @{
            if (Model.players != null)
            {
                @foreach (var players in Model.players)
                {
                    <div class="col-md-4">
                        <div class="service_blog">
                            <div class="service_img">
                                @{
                                    var imgSrc = "/images/";
                                    if (string.IsNullOrWhiteSpace(players.image))
                                    {
                                        imgSrc = "/img/gallery.jpg";
                                    }
                                    else
                                    {
                                        imgSrc += "custom/" + players.image;
                                    }
                                }
                                <img class="img-responsive" src="@imgSrc" style="height:300px;" alt="#">
                            </div>
                            <div class="service_head">
                                <h5><a href="/players/detail/@players.slug">@players.name.ToUpper()</a></h5>
                            </div>
                        </div>
                    </div>
                                    }
                                    }
        }
    </div>*@


<style>
    .inner_banner_section {
        background-image: url(../clientside/images/inner_page_banner.jpg);
    }
</style>


<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h2>Players</h2>
                            <ol class="breadcrumb">
                                <li><a href="/">Home</a></li>
                                <li class="active">Players</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container padding-top">
    <div class="row portfolioContainer">
        @{
            if (Model.players != null)
            {
                @foreach (var players in Model.players)
                {

                    string name = "";
                    string namep = "";
                    if (players.role == CMS.Core.Enums.Role.Batting_All_Rounder)
                    {
                        name = "Bating All Rounder";
                    }
                    if (players.role == CMS.Core.Enums.Role.Bowling_All_Rounder)
                    {
                        name = "Bowling All Rounder";
                    }
                    if (players.role == CMS.Core.Enums.Role.Batsman)
                    {
                        name = "Batsman";
                    }
                    if (players.role == CMS.Core.Enums.Role.Bowler)
                    {
                        name = "Bowler";
                    }
                    if (players.status == CMS.Core.Enums.Status.Not_Playing)
                    {
                        namep = "Not Playing";
                    }
                    if (players.status == CMS.Core.Enums.Status.Playing)
                    {
                        namep = "Playing";
                    }




                    <!-- Item Player -->
                    <div class="col-xl-3 col-lg-4 col-md-6 forward">
                        <div class="item-player">
                            <div class="head-player">
                                @{
                                    var imgSrc = "/images/";
                                    if (string.IsNullOrWhiteSpace(players.image))
                                    {
                                        imgSrc = "/img/Id.png";
                                    }
                                    else
                                    {
                                        imgSrc += "custom/" + players.image;
                                    }
                                }
                                <img class="img-responsive" src="@imgSrc" style="width: 100%; height:200px;;">


                            </div>
                            <div class="info-player">

                                <h4>
                                    @players.name
                                    <span>@name</span>
                                </h4>
                                <ul>
                                    <li>
                                        <strong>Status:</strong> <span>@namep </span>
                                    </li>
                                    <li><strong>Height:</strong> <span>@players.height</span></li>
                                    <li><strong>Gender:</strong> <span>@players.playerProfile</span></li>
                                    @*--playerProfile here is gender*@
                                </ul>
                            </div>
                            <a href="/players/detail/@players.slug" class="btn">View Player <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                }
            }

        }
    </div>
</div>












